[etcd]
command = etcd --name=default --data-dir=/var/lib/etcd/default.etcd --listen-client-urls=http://0.0.0.0:4001 --listen-peer-urls=http://localhost:2380 --advertise-client-urls=http://0.0.0.0:4001
sleep = 10
index = 1

[api_server]
command = kube-apiserver --logtostderr=true --v=1 --etcd_servers=http://0.0.0.0:4001 --address=0.0.0.0 --port=8080 --allow_privileged=true  --portal_net=10.254.0.0/16 --admission_control=NamespaceAutoProvision,LimitRanger,ResourceQuota
index = 2

[controller]
command = kube-controller-manager --logtostderr=true --v=1 --master=http://0.0.0.0:8080
index = 3

[scheduler]
command = kube-scheduler --logtostderr=true --v=1 --master=http://0.0.0.0:8080
index = 4

[proxy]
command = kube-proxy --logtostderr=true --logtostderr=true --master=http://0.0.0.0:8080
index = 5

[kubelet]
command = kubelet --logtostderr=true --v=1 --api_servers=http://0.0.0.0:8080 --address=0.0.0.0 --hostname_override={{hostname}}  --allow_privileged=true
index = 6
