{% if ansible_local.cloud.general.name is defined %}
  [api_server]
  directory = {{invoker_root}}
  command = kube-apiserver --logtostderr=true --v={{level}} --cloud-provider={{ansible_local.cloud.general.name}} --cloud-config={{ansible_local.cloud.general.cloud_config}} --etcd_servers=http://0.0.0.0:4001 --address=0.0.0.0 --port=8080 --allow_privileged=true  --portal_net=10.254.0.0/16 --admission_control=NamespaceAutoProvision,LimitRanger,ResourceQuota
  index = 2
{% else %}
  [api_server]
  directory = {{invoker_root}}
  command = kube-apiserver --logtostderr=true --v={{level}} --etcd_servers=http://0.0.0.0:4001 --address=0.0.0.0 --port=8080 --allow_privileged=true  --portal_net=10.254.0.0/16 --admission_control=NamespaceAutoProvision,LimitRanger,ResourceQuota
  index = 2
{% endif %}

{% if ansible_local.cloud.general.name is defined %}
  [controller]
  directory = {{invoker_root}}
  command = kube-controller-manager --logtostderr=true --v={{level}} --cloud-provider={{ansible_local.cloud.general.name}} --cloud-config={{ansible_local.cloud.general.cloud_config}} --master=http://0.0.0.0:8080
  index = 3
{% else %}
  [controller]
  directory = {{invoker_root}}
  command = kube-controller-manager --logtostderr=true --v={{level}} --master=http://0.0.0.0:8080
  index = 3
{% endif %}

[scheduler]
directory = {{invoker_root}}
command = kube-scheduler --logtostderr=true --v={{level}} --master=http://0.0.0.0:8080
index = 4

[proxy]
directory = {{invoker_root}}
command = kube-proxy --logtostderr=true --v={{level}} --master=http://0.0.0.0:8080
index = 5

{% if ansible_local.cloud.general.name is defined %}
  [kubelet]
  directory = {{invoker_root}}
  command = kubelet --logtostderr=true --v={{level}} --cloud-provider={{ansible_local.cloud.general.name}} --cloud-config={{ansible_local.cloud.general.cloud_config}} --api_servers=http://0.0.0.0:8080 --address=0.0.0.0 --hostname_override={{ansible_hostname}}  --allow_privileged=true
  index = 6
{% else %}
  [kubelet]
  directory = {{invoker_root}}
  command = kubelet --logtostderr=true --v={{level}} --api_servers=http://0.0.0.0:8080 --address=0.0.0.0 --hostname_override={{ansible_hostname}}  --allow_privileged=true
  index = 6
{% endif %}
